body {
  background-color: #fefefe;
}

tr {
  display: flex;
  flex-flow: row nowrap;
}

td {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 200px;
}

.btn {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 7px;
}

.btn-action {
  margin: 0 5px;
}

.form-btn {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

